body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  background: #ecf2ff;
  font-size: 16px;
}

h1 {
  font-size: 2.6rem;
  margin: 0 0 1rem;
  font-weight: bold;
}

#main-container {
  /* 
        Vertically Stack 
        & Horizontally Center contents
    */
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  margin: 100px auto 40px;
  padding: 40px;
  background: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

#solution-display {
  width: 14rem;
  text-align: right;
  background-color: #3c3c3c;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  margin: 0.5rem;
}

#equation-field {
  font-family: "Inconsolata", monospace;
  text-align: center;
  font-size: 2rem;
  background-color: lightgrey;
  outline: none;
  margin: 0.5rem;
  border-radius: 0.3rem;
  width: 16rem;
  border: none;
  padding: 0.5rem;
}

.btn {
  font-family: "Inconsolata", monospace;
  border: none;
  background-color: #5ca63a;
  font-size: 1.8rem;
  color: white;
  padding: 0.7rem 1.5rem;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: 0.5rem 0.2rem;
  outline: none;
  border-radius: 0.3rem;
}

#solve-button:hover,
solve-button:active {
  background-color: #7bc559;
}

#reset-button {
  background-color: #bf1a2f;
}

#reset-button:hover,
reset-button:active {
  background-color: #e74b60;
}
